.EssayPage {
  margin-bottom: 50vh;
}

.EssayPage_title {
  margin-top: 20px;
}

.EssayPage_tags {
  margin-bottom: 10px;
}

.EssayPage_sticky-extras {
  position: sticky;
  top: 0px;
  padding-top: 8px;
  margin-top: -8px;
  background: white;
  overflow: auto;
}

.EssayPage_extra {
  float: right;
  margin-right: 5px;
  line-height: 13px;
  padding-top: 5px;
}

.EssayPage_lint-results {
  margin-top: 0;
  padding: 1em;
  border: 1px solid var(--color-shade);
  border-radius: 5px;
}

.EssayPage_hide-screen {
  display: none;
}

.EssayPage_print-text-format {
  line-height: 1.5em;
}

@media print {
  .EssayPage {
    margin-bottom: 0;
  }
  .EssayPage_hide-screen {
    display: initial;
  }
  .EssayPage_hide-print {
    display: none;
  }
  .EssayPage_sticky-extras {
    position: unset !important;
  }
}
