.EssayPage {
  margin-bottom: 50vh;
}

.EssayPage_title {
  margin-top: 20px;
}

.EssayPage_tags {
  margin-bottom: 10px;
}

@media print {
  .EssayPage {
    margin-bottom: 0;
  }
  .EssayPage_hide-print {
    display: none;
  }
}
