.EssayPage {
  margin-bottom: 50vh;
}

.EssayPage_title {
  margin-top: 20px;
}

.EssayPage_tags {
  margin-bottom: 10px;
}

.EssayPage_lint-results {
  margin-top: 0;
  padding: 1em;
  border: 1px solid var(--color-shade);
  border-radius: 5px;
}

@media print {
  .EssayPage {
    margin-bottom: 0;
  }
  .EssayPage_hide-print {
    display: none;
  }
}
