.Editable {
  --offset: 0px;
  --pad: 10px;

  border: none;
  font-family: inherit;
  font-size: inherit;

  /* calculate outset border and padding */
  width: calc(100% + 2 * var(--offset));
  margin: calc(-1 * var(--offset));
  padding: calc(var(--pad) + var(--offset));

  border-radius: 5px;
  transition: 0.2s;

  background-color: transparent;
  border: 1px solid transparent;
}

.Editable.Editable_outset {
  --offset: 15px;
  --pad: 0px;
}

.Editable.Editable_small {
  --offset: 0px;
  --pad: 4px;
}

.Editable.Editable_shade {
  background-color: var(--color-shade);
}

.Editable_textarea {
  resize: none;
  line-height: 1.25em;
  overflow: hidden;
  display: block;
  padding-bottom: 20px;
  border: 1px solid var(--color-shade);
}

.Editable:focus {
  outline: none;
  border: 1px solid var(--color-shade-dark);
}
