.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -1.5em;

  color: var(--color-shade-dark);
  text-decoration-color: var(--color-shade-dark);
}

.Header a {
  margin-left: 10px;
}

@media print {
  .Header {
    display: none;
  }
}
