.Lint {
  color: var(--color-shade-text);
  list-style-type: none;
  padding: 0;
}

.Lint_item {
  padding: 3px 0;
  padding-left: 2px;
  color: black;
}

.Lint_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Lint_item.Lint_item-error {
  margin-left: -5px;
  padding-left: 7px;
  background: linear-gradient(to right, #da3c00, transparent);
  color: white;
}

.Lint_text:after {
  content: ' ';
}

.Lint_why {
  opacity: 0.6;
}
