body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;

  /* center ignoring scrollbar */
  padding-left: calc(100vw - 100%);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

:root {
  --color-primary: #f4dc42;
  --color-shade: #eee;
  --color-shade-dark: #bbb;
  --color-shade-text: #676767;
  --color-danger: #f25a02;

  text-decoration-color: var(--color-shade-dark);
}
